body{
font-family:'Tajawal',sans-serif;
margin:0;
background:#f4f4f4;
direction:rtl;
color:#222
}

header{
background:#111;
color:white;
display:flex;
justify-content:space-between;
align-items:center;
padding:18px 40px
}

.logo{
font-size:26px;
font-weight:bold
}

nav a{
color:white;
margin:0 10px;
text-decoration:none
}

.hero{
height:420px;
background:linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),
url(https://i.postimg.cc/7YpwCwS1/ʿnbr-mlky-1.jpg);
background-size:cover;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
color:white
}

.hero h1{
font-size:40px
}

.hero-buttons a{
background:#25D366;
padding:12px 20px;
margin:8px;
border-radius:8px;
text-decoration:none;
color:white
}

.section-title{
text-align:center;
font-size:32px;
margin:50px 0
}

.category{
margin:40px
}

.category-header{
background:#111;
color:white;
padding:15px;
font-size:20px;
cursor:pointer
}

.products{
display:none;
padding:30px 0
}

.products-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
gap:25px
}

.product-card{
background:white;
border-radius:14px;
overflow:hidden;
box-shadow:0 10px 25px rgba(0,0,0,.08);
transition:.3s
}

.product-card:hover{
transform:translateY(-10px)
}

.product-card img{
width:100%;
height:220px;
object-fit:cover
}

.product-info{
padding:15px;
text-align:center
}

.product-info h3{
margin:5px 0
}

.product-desc{
font-size:14px;
color:#666
}

.order-btn{
display:inline-block;
background:#25D366;
color:white;
padding:8px 14px;
margin-top:10px;
border-radius:6px;
text-decoration:none
}

footer{
background:#111;
color:white;
text-align:center;
padding:25px;
margin-top:60px
}